.product {
    display: flex;
    border-bottom: 1px solid lightgray;
    margin-right: 5px;
    padding-bottom: 10px;
}

.product img {
    margin-right: 5px;
}

.product-name {
    color: blue;
    font-weight: 400;
}

.product button {
    background-color: goldenrod;
    border: 1px solid lightgray;
    width: 150px;
    height: 30px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 500;
}