.header {
    text-align: center;
    margin-top: 10px;
}

.logo {
    height: 50px;
}

.header nav {
    background-color: #000;
    line-height: 50px;
}

.header nav a {
    text-decoration: none;
    padding: 10px;
    color: #fff;
    margin-right: 10px;
    font-size: 20px;
}

.header nav a:hover {
    background-color: lightgrey;
    color: #000;
    border-radius: 10px;
}